{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <style type="text/css">
        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .form {
            width: 30rem;
            justify-self: center;
        }
        .form-container {
            display: flex;
            flex-direction: column-reverse;

        }
        .signignButton {
            margin-top: 1rem
        }
    </style>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container">
        <h1>Register</h1>
        <div class="form-container">
            {{ form_start(registrationForm) }}
            {{ form_end(registrationForm)}}

        </div>    
    </div>
{% endblock %}
