{% extends 'base.html.twig' %}

{% block title %} Le Blog {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .articles {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 2rem;
    }
    .card {
        margin-block: 2rem;
        padding: 2rem;
        cursor: pointer;
    }
</style>

<div class="example-wrapper">
    <div class="articles">
     {% for article in articles %}
            <div onclick="location.href='/article/{{article.id}}';" class="card">
                <div class="row">
                    <h3> 
                    {{article.Title()}}
                    -
                    {{article.date |date("d/m/Y")}}
                    </h3>
                </div>
                <div class="row">
                    <h4> 
                    {{article.category}}
                    </h3>
                </div>
                <div class="row">
                    {{article.getAuthorId()}}
                </div>
                <div class="row">
                    <img src={{article.Image}} class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    {{article.content}}
                </div>
            </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}
