<style type="text/css">
    .helloText {
        margin-top: 2rem;
        margin-right: 1rem;
        font-size: 1.5em
    }
    .navbar {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 99;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Le Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Accueil
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">À propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles/new">Ecrire un article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Créer un compte</a>
      </li>
      {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link" href="/admin">Configuration Admin</a>
        </li>
      {% endif %}
    </ul>
    {% if app.user %}
        <div class="mb-3">
           <p class=" helloText text-justify"> Bonjour {{ app.user.firstname }} {% if is_granted('ROLE_ADMIN') %}(admin){% endif %}</p>  
        </div>
        <form method="get" action="{{ path('app_logout') }}">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" >Logout</button>
        </form>
    {% else %}
        <form method="get" action="{{ path('app_login') }}">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" >Login</button>
        </form>
    {% endif %}
  </div>
</nav>