<style type="text/css">
    footer {
        display: flex;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
</style>
<footer class="bg-primary">
    <p> icon | icon| icon  </p>
</footer>