{% extends 'base.html.twig' %}

{% block title %}Hello NewArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="form-container">    
        {{form_start(newArticleForm)}}
        {{form_end(newArticleForm)}}
    </div>  
</div>
{% endblock %}
