<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block head_css %}
            <!-- Copy CSS from https://getbootstrap.com/docs/4.4/getting-started/introduction/#css -->
            <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css"
        {% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block head_js %}
            <!-- Copy JavaScript from https://getbootstrap.com/docs/4.4/getting-started/introduction/#js -->
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </head>

    <body>
        <style type="text/css">
            body, html {
                height: 100%;
                display: flex;
                flex-direction: column;
            } 
            footer {
                display: flex;
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                text-align: center;
                align-items: center;
                justify-content: center;
            }
        </style>
        {% include "/navbar/navbar.html.twig" %}
        {% block body %}
        <div class="jumbotron">
            <h1 class="display-3">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        {% endblock %}
        {% include "/footer/footer.html.twig" %}
    </body>

</html>
