{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .articles {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .article {
        margin-block: 2rem;
        padding: 2rem;
        {# cusor: pointer; #}
    }
    .commentsContainer {
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem
    }
    .comment {
        display: flex;
        flex-direction: row;
        flex: 1;
    }
    .container {
        display: flex;
        flex-direction: row;
    }
</style>

<div class="example-wrapper">
    <div class="card article">
                <div class="row">
                    <h3> 
                    {{article.Title()}}
                    -
                    {{article.date |date("d/m/Y")}}
                    </h3>
                   {% if is_granted('ROLE_ADMIN') %}
                                <form action="" method="POST">
                                    <button name="delete_article" value="{{article.id}}" type="submit"> delete </button>
                                </form>
                    {% endif %}
                </div>
                <div class="row">
                    {{article.Status}}
                </div>
                <div class="row">
                    {{article.getAuthorId()}}
                </div>
                <div class="row">
                    <img src={{article.Image}} class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    {{article.content}}
                </div>
                <div class="row">
                    {{form_start(commentForm)}}
                    {{ form_label(commentForm.content, 'commentaire') }}
                    {{ form_widget(commentForm.content) }}
                    {{form_end(commentForm)}}
                </div>
                <div class="commentsContainer">
                    {% for comment in comments %}
                        <div class="container">
                            <div class="card comment">
                                <div> 
                                    <p> {{comment.userId}} </p>
                                    <p> {{comment.date.format('m-d H:i:s')}} </p>
                                </div>
                                <p> {{comment.content}} </p>
                                
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <form action="" method="POST">
                                    <button name="delete_comment" value="{{comment.id}}" type="submit"> delete </button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
    </div>
</div>
{% endblock %}
